*{
    margin: 0;
    padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    
    background-color: #cad3d3;
}



.content{
    margin: 200px;
    display: flex;
    position: relative;
}

.col-third{
    width: 33.33333%;
    margin: 10px 20px;
}

.place{
    position: relative;
    background-image: url(PriceTable/ocean.png) ;
    background-repeat: no-repeat;
    background-size: 100% 210px;
    height: 210px;
}

.place-moutains{
    background-image: url(PriceTable/mountain.png) !important;
}

.place-forest{
    background-image: url(PriceTable/forest.png) !important;
}

.place-des{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%; 
}

.name-place{
    color: white;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

.price-tag{
        text-align: center;
        display: block;
        position: absolute;
        background-color: white;
        padding: 20px 16px;
        border-radius: 50%;
        top: -53px;
        left: 33.3333%;
        color: #2196f7;
}

.price-tag>p{
    font-size: 28px;
    margin-bottom: -24px;
    
}

.price-tag>span{
    font-size: 16px;
    color: #ccc;
}

.sub-name-place {
    color: #ccc;
    font-size: 12px;
    margin-top: -4px;
}

.new-mark{
    position: absolute;
    background-image: url(/PriceTable/newmark.png);
    background-size: 70px;
    background-repeat: no-repeat;
    top: -16px;
    left: -16px;
    padding: 26px 16px;
    font-weight: bold;
    color: white;
}

.subtitle {
    background-color: white;
    
}

.subtitle li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: #5f727f;
    padding: 8px 0px;
}

.subtitle >li:first-child{
    font-size: 24px;
    padding: 16px 0px;
}

.second-line{
    font-size: 12px;
    margin-top: -2px;
}

.background-f4f6f7{
    background-color: #f4f6f7 !important;
}

button.btn-buy {
    color: #2196f7;
    border: solid 1px #2196f7;
    padding: 12px 40px;
    font-size: 20px;
    margin: 28px;
}

.mountains{
    background-color: #2c2e3d !important;
    color: #d74498 !important;
}

.btn-mountains{
    border-color: #d74498 !important ;
    color: #d74498 !important;
}
.forest{
    color: #32ad1e !important;
}

.btn-forest{
    color: #32ad1e !important;
    border-color: #32ad1e !important;
}

.btn-buy:hover{
    color: white !important;
    cursor: pointer;
}

.btn-ocean:hover {
    background-color: #2196f7;
}

.btn-mountains:hover{
    background-color:  #d74498 ;
}

.btn-forest:hover{
    background-color: #32ad1e ;
}
